/*--- Avanquest WebEasy Page Style ---*/


.cc06               { /* Common */
	font            : bold 14pt 'Arial', Helvetica, sans-serif;
	color           : #008000;
	}
.cc07               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #ff0000;
	}
.cc08               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc09               { /* Common */
	border          :   0.00pt none #f0f0f0;
	}
.cc10               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #800080;
	}
span#e30            { /* images/remote002012.jpg */
	background      : transparent url(images/remote002012.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 825.00pt;
	height          :  56.25pt;
	}
div#e29             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  82.50pt;
	top             : 251.25pt;
	width           : 660.00pt;
	height          : 397.50pt;
	}
div#e28             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : left;
	background-color: #808080;
	background-image: url(images/remote001009.jpg);
	position        : absolute;
	left            :  82.50pt;
	top             :  32.25pt;
	width           :  90.00pt;
	height          :  24.00pt;
	}
div#e27             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : left;
	background-color: #808080;
	background-image: url(images/remote001009.jpg);
	position        : absolute;
	left            : 174.00pt;
	top             :  32.25pt;
	width           :  90.00pt;
	height          :  24.00pt;
	}
div#e26             { /* Home */
	padding-top     :   4.50pt;
	position        : absolute;
	left            :  82.50pt;
	top             :  32.25pt;
	width           :  87.00pt;
	height          :  18.00pt;
	}
div#e25             { /* Support */
	padding-top     :   3.00pt;
	position        : absolute;
	left            : 174.00pt;
	top             :  32.25pt;
	width           :  87.00pt;
	height          :  12.75pt;
	}
div#e24             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  96.75pt;
	top             : 266.25pt;
	width           : 630.00pt;
	height          : 367.50pt;
	}
a#a24               {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	}
h6#e23              { /* Remote Service That Rock... */
	position        : absolute;
	left            :  97.50pt;
	top             : 686.25pt;
	width           : 221.25pt;
	height          :  16.50pt;
	}
h6#e22              { /* Copyright (C) 2013 Remot... */
	text-align      : right;
	position        : absolute;
	left            : 320.25pt;
	top             : 686.25pt;
	width           : 404.25pt;
	height          :  16.50pt;
	}
h4#e21              { /* Support */
	text-align      : left;
	padding-top     :   5.25pt;
	position        : absolute;
	left            :  99.00pt;
	top             : 253.50pt;
	width           : 618.75pt;
	height          :  11.25pt;
	}
span#e20            { /* images/remote002011.jpg */
	background      : transparent url(images/remote002011.jpg) no-repeat top left;
	position        : absolute;
	left            :  82.50pt;
	top             :  56.25pt;
	width           : 427.50pt;
	height          : 195.00pt;
	}
div#e19             { /* Remote Service      That... */
	background      : transparent url(images/remote002010.jpg) no-repeat top left;
	position        : absolute;
	left            : 545.25pt;
	top             : 112.50pt;
	width           : 202.50pt;
	height          :  88.50pt;
	}
img#e18             { /* images/remote002009.jpg */
	position        : absolute;
	left            : 196.50pt;
	top             : 444.75pt;
	width           :  22.50pt;
	height          :  22.50pt;
	}
div#e17             { /* Do you need help? If you... */
	position        : absolute;
	left            : 114.75pt;
	top             : 310.50pt;
	width           : 589.50pt;
	height          :  54.00pt;
	}
span#e16            { /* images/remote002008.jpg */
	background      : transparent url(images/remote002008.jpg) no-repeat top left;
	position        : absolute;
	left            : 121.50pt;
	top             : 396.00pt;
	width           :  60.00pt;
	height          :  60.00pt;
	}
div#e15             { /* REMOTE SUPPORT.  */
	position        : absolute;
	left            : 198.00pt;
	top             : 393.75pt;
	width           : 123.00pt;
	height          :  21.75pt;
	}
div#e14             { /* Please click a Color bel... */
	position        : absolute;
	left            : 195.75pt;
	top             : 419.25pt;
	width           : 382.50pt;
	height          :  24.75pt;
	}
img#e13             { /* images/remote002007.jpg */
	position        : absolute;
	left            : 233.25pt;
	top             : 444.75pt;
	width           :  24.00pt;
	height          :  24.00pt;
	}
img#e12             { /* images/remote002006.jpg */
	position        : absolute;
	left            : 269.25pt;
	top             : 444.75pt;
	width           :  23.25pt;
	height          :  23.25pt;
	}
img#e11             { /* images/remote002005.jpg */
	position        : absolute;
	left            : 306.00pt;
	top             : 445.50pt;
	width           :  22.50pt;
	height          :  22.50pt;
	}
img#e10             { /* images/remote002004.jpg */
	position        : absolute;
	left            : 342.00pt;
	top             : 444.75pt;
	width           :  23.25pt;
	height          :  23.25pt;
	}
img#e9              { /* images/remote002003.jpg */
	position        : absolute;
	left            : 379.50pt;
	top             : 446.25pt;
	width           :  22.50pt;
	height          :  22.50pt;
	}
span#e8             { /* images/remote002002.jpg */
	background      : transparent url(images/remote002002.jpg) no-repeat top left;
	position        : absolute;
	left            : 123.75pt;
	top             : 486.75pt;
	width           :  60.00pt;
	height          :  60.00pt;
	}
div#e7              { /* PHONE  */
	position        : absolute;
	left            : 196.50pt;
	top             : 492.75pt;
	width           : 105.75pt;
	height          :  16.50pt;
	}
div#e6              { /* Please call */
	position        : absolute;
	left            : 197.25pt;
	top             : 513.75pt;
	width           :  66.00pt;
	height          :  17.25pt;
	}
div#e5              { /* 614-266-0601 */
	position        : absolute;
	left            : 195.75pt;
	top             : 536.25pt;
	width           :  81.00pt;
	height          :  17.25pt;
	}
span#e4             { /* images/remote002001.jpg */
	background      : transparent url(images/remote002001.jpg) no-repeat top left;
	position        : absolute;
	left            : 129.00pt;
	top             : 570.00pt;
	width           :  60.00pt;
	height          :  60.00pt;
	}
div#e3              { /* EMAIL */
	position        : absolute;
	left            : 199.50pt;
	top             : 578.25pt;
	width           : 105.75pt;
	height          :  17.25pt;
	}
div#e2              { /* Please E-Mail me at */
	position        : absolute;
	left            : 200.25pt;
	top             : 595.50pt;
	width           : 216.00pt;
	height          :  17.25pt;
	}
div#e1              { /* claudewhitlow@gmail.com */
	position        : absolute;
	left            : 199.50pt;
	top             : 618.00pt;
	width           : 181.50pt;
	height          :  17.25pt;
	}
div#page            { /* Page Holder */
	position        : relative;
	width           : 825.00pt;
	height          : 712.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #141414;
	text-align      : center;
	}



/*--- EndOfFile ---*/
